
<% @matches.each do |match| %>
    <div>
      <div class="predictTeam <%= "#{match[:home_team][:color]}Team" %>">
        <div class="predictTeamItem"><%= match[:home_team][:name] %></div>
        <div class="predictTeamItem"><input type="text" /></div>
      </div>
      <div class="predictTeam <%= "#{match[:away_team][:color]}Team" %>">
        <div class="predictTeamItem"><%= match[:away_team][:name] %></div>
        <div class="predictTeamItem"><input type="text" /></div>
      </div>
    </div>
<% end %>