<div id="header">
  <h1>
    Make Predictions
  </h1>
</div>

<div id="makePredictionsForm">
  <form>
    <%= render 'match_input' %>
    <div>
      <input type="submit" />
    </div>
  </form>
</div>