html,body,p,div,img,h1,h2,h3,h4,li,ul,dl,dd,dt,form,table,td,tr{ margin:0; padding:0; border:0; border-collapse:0; border-spacing:0; } input,select{ margin:0; padding:0; }

#header {
  height: 100px;
  background-color: aqua;
  text-align: center;
}

h1 {
  line-height:3em;
}

.testDiv1 {
  background-color: blue;
  border: 1px solid black;
}

.testDiv2 {
  background-color: red;
}

.testDiv3 {
  background-color: green;
}

.testDiv4 {
  background-color: yellow;
}

